.text {
    color: FFFACD;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.container {
     margin: 0 auto;
}

.search-bar {
     padding: 30px 30px 70px;
}

.search-bar input {
     float: left;
     width: 70%;
}

.search-bar button {
     float: left;
     width: 30%;
}

.single-movie-item {
     cursor: pointer;
}

.single-movie-item:hover {
     opacity: .8;
}
.search-bar input {
     float: left;
     width: 65%;
     margin-right: 5%;
}

element.style{
     display:none;
}